*autom4te.cache/
todo.txt
.DS_Store
*.la
*.lo
*.log
*.pc
*.o
bin/
include/
lib/
share/
libtool
config.status
BuildTools/
Cbc/
Cgl/
Clp/
CoinUtils/
Makefile
Osi/
config.h
config_rehearse.h
coin_subdirs.txt
.deps
.libs
stamp-h1
stamp-h2
unitTest
